{% for board, path, oshw_id in oshw_details %}
  {% if path+'/' in pagename %}
    <div class="card bg-light mt-4 text-center">
      <div class="card-header">
        {{board}}
      </div>
      <div class="card-body">
        <p class="card-text text-dark">
            <a href="https://certification.oshwa.org/{{ oshw_id|lower }}.html" target="_blank">
              <img src="{{docs_url}}/_static/images/oshw/{{board}}_{{path}}_{{oshw_id}}.svg" alt="{{board}} OSHW mark"/>
            </a>
        </p>
      </div>
    </div>
  {% endif %}
{% endfor%}